body {
  margin: 0;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  background-color: #e5e5e5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
