.transfer-date {
  display: flex;
  align-items: center;
}

.transfer-date h1 {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba(45, 59, 78, 0.5);
}

.transfer-date img {
  display: none;
}

section {
  display: flex;
  border-radius: 50%;
}

.list-item {
  box-shadow: 0px 1px 1px rgb(45 59 78 / 6%);
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 250px;
  cursor: pointer;
}

.list-item h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2d3b4e;
  margin: 0px;
}

.list-item h3 {
  display: none;
}

.traveler-photo {
  display: flex;
  align-items: center;
  width: 20%;
}

.traveler-photo img {
  margin-right: 13px;
}

.traveler-name {
  display: flex;
}

.traveler-name h1 {
  margin-right: 6px;
}

.property {
  display: none;
}

.list-item h2 {
  display: none;
}

.arrival-departure,
.from-to {
  width: 20%;
}

.list-item img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.opportunities {
  width: 20%;
}

.opportunities img {
  background-color: #f4f5f6;
  padding: 7px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 13px;
}

@media (max-width: 1024px) {
  .list-item h2 {
    display: block;
  }

  .transfer-date {
    background: rgba(45, 59, 78, 0.04);
    border-radius: 16px;
    padding: 10px 12px;
    margin-bottom: 10px;
  }

  .transfer-date h1 {
    margin: 0 0 0 10px;
  }

  .transfer-date img {
    display: block;
  }

  section {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0px 8px;
    margin: 22px 0 10px;
  }

  .list-item {
    flex-direction: column;
    align-items: flex-start;
    padding-right: initial;
    padding: 0px 27px;
  }

  .list-item img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .list-item h3 {
    display: block;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
  }

  .traveler-photo {
    flex-direction: row-reverse;
    width: auto;
  }

  .traveler-photo img {
    width: 54.66px;
    height: 54.66px;
  }

  .traveler-name h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2d3b4e;
  }

  .property {
    display: block;
  }

  .list-item h2 {
    margin: 0 0 6px 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: rgba(45, 59, 78, 0.5);
  }

  .property h1,
  .arrival-departure h1,
  .from-to h1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2d3b4e;
    margin: 0 0 15px 0;
  }

  .opportunities {
    margin-bottom: 22px;
  }

  .arrival-departure,
  .from-to {
    width: auto;
  }
}
